$black-secondary: #5d5556;
$black-tertiary: #14151A;
$black: #404152;
$gray-primary: #F4F4FA;
$gray-secondary: #898AA4;
$gray-tertiary: #6D6F8D;
$gray: #f1f1f4;
$green-dark: #17490B;
$green: #287715;
$orange: #D48000;
$red: #ba071e;
$red-light: #fef2f4;

$white-primary: #ffffff;

$green: #009245;
$primary-gray: #f1f1f4;
$primary-white: #ffffff;
$secondary-gray: #898AA4;
